# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RTSMultiplayer-master.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\faruk\Desktop\RTSMultiplayer-master\.idea\.idea.RTSMultiplayer-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
